h1{
        color: black;
    }
.error{
    color: red;
}
.success{
    color: green;
}

p {
    color: purple;
}
h1 em {
    color: green;
}
ul.menu {
    padding: 0;
    list-style: none;
}
ul.menu li{
    display: inline;
}
ul.menu li a {
    margin: 10px;
    text-decoration: none;
}
ul > li {
    list-style: square;
}
ul > li ol {
    list-style: none;
}
.font-styles{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("images/tile.png");
}
body {        
    background-image: url("/examples/images/bell.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}